/*
  ______           _______                                                         _         
 |  ____|         |__   __|                                                       | |        
 | |__ ___  _ __     | | ___  _ __ ___   ___  _ __ _ __ _____      __   ___  _ __ | |_   _   
 |  __/ _ \| '__|    | |/ _ \| '_ ` _ \ / _ \| '__| '__/ _ \ \ /\ / /  / _ \| '_ \| | | | |  
 | | | (_) | |       | | (_) | | | | | | (_) | |  | | | (_) \ V  V /  | (_) | | | | | |_| |
 |_|  \___/|_|       |_|\___/|_| |_| |_|\___/|_|  |_|  \___/ \_/\_/    \___/|_| |_|_|\__, |
                                                                                      __/ |  
                                                                                     |___/   
   _____ _                        _   _                                          _     _ _     
  / ____(_)                      | | | |                                        | |   (_) |    
 | (___  _ _ __   ___ ___    ___ | |_| |__   ___ _ __ ___    __ _ _ __ ___   ___| |__  _| |_   
  \___ \| | '_ \ / __/ _ \  / _ \| __| '_ \ / _ \ '__/ __|  / _` | '__/ _ \ / __| '_ \| | __|  
  ____) | | | | | (_|  __/ | (_) | |_| | | |  __/ |  \__ \ | (_| | | |  __/ \__ \ | | | | |_
 |_____/|_|_| |_|\___\___|  \___/ \__|_| |_|\___|_|  |___/  \__,_|_|  \___| |___/_| |_|_|\__|
                                                                                               
                                                                                               
*/


/*  - Board title rice -  */
div.boardTitle {
  font-family: sans-serif !important;
  font-weight: bold !important;
}


/*  - Image hovering fancy animation -  */
/* Image */
img {
  transition: opacity 0.2s ease-in-out !important;
}
img:hover,
img:focus {
  opacity: 0.75 !important;
}
/* Reply box buttons */
button#t-load,
button#t-help, {
  transition: opacity 0.2s ease-in-out !important;
}
button#t-load:hover,
button#t-load:focus,
button#t-help:hover,
button#t-help:focus {
  opacity: 0.75 !important;
}


/*  - Make UI more flat and soulless (like me) -  */
/* Thread replies */
div.reply {
  border-radius: 7.5px !important;
}
/* Image thumbnails */
div.op .fileThumb img {
  border-radius: 5px !important;
}
div.reply .fileThumb img {
  border-radius: 5px !important;
}
/* 4chan ads */
div.boardBanner img {
  border-radius: 5px !important;
}
div.middlead.center img {
  border-radius: 5px !important;
}
/* no idea what this is i forgor 💀 */
.prettyprint {
  border-radius: 3px !important;
}
/* Embedded code */
div#embedding.dialog {
  border-radius: 15px !important;
  background-color: rgb(49, 50, 55);
}
/* Inside of the embedded code */
iframe {
  border-radius: 10px !important;
}
/* "Reply to thread" button  */
html.fourchan-x.seaweedchan.ua-gecko.js-enabled.fixed.centered-links.shortcut-icons.hide-bottom-board-list.resurrect-quotes.hide-backlinks.reply-hide.highlight-own.highlight-you.gal-fit-width.gal-fit-height.show-sauce.fit-width.fixed-watcher.sw-yotsuba.thread-view.autohiding-scrollbar.tomorrow.top-header body.is_thread.board_vg form h1.qr-link-container a.qr-link {
  border-radius: 5px !important;
  background: rgb(49, 50, 55) !important;
  border-color: transparent !important;
}
/* Reply box */
#qr {
  border-radius: 7.5px !important;
}
/* Still reply box but it's the text field */
:root.tomorrow #qr .field {
  border-radius: 5px !important;
}
/* Still reply box but it's the CAPTCHA typing field */
input#t-resp {
  border-radius: 5px !important;
  background: rgb(49, 50, 55);
  border-color: transparent !important;
}
/* Still reply box but it's the "Get CAPTCHA" button */
#qr button#t-load {
  border-color: transparent !important;
  border-radius: 5px !important;
}
/* Still reply box but it's the "?" button */
button#t-help {
  border-color: transparent !important;
  border-radius: 5px !important;
}
/* Still reply box but it's the CAPTCHA box */
div#t-bg {
  border-radius: 5px !important;
}
div#t-fg {
  border-radius: 5px !important;
}
/* Still reply box but it's the drop down menu */
#qr select {
  border-color: transparent !important;
  border-radius: 5px !important;
}
div#file-n-submit input {
  border-color: grey !important;
  border-radius: 5px !important;
}


/*  - Hiding things -  */
/* Hide "Original Form" */
div#togglePostFormLink.desktop {
 display:none !important;
}
/* Hide blotter */
table#blotter.desktop {
 display:none !important;
}
/* Hide legal stuff at the bottom  */
div#absbot {
 display:none !important;
}
/* Hide 4chan ad border */
#bannerCnt {
border: none !important;
}


